.homeicon {
  background-color: red;
}
.items {
  background-color: blue;
  display: inline-block;
  justify-content: space-between;
}
.itembtns {
  background-color: yellow;
  display: block;
  flex-direction: column;
}
button {
  flex-direction: column;
}
